doctype html
html
  head
    title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/css/foundation.min.css')
  body
    h1 Hello. This is the default content for pomegranate-docker
    h2 You'll probably want to greate your own.